@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.agrupamento{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

    .label-input-form{
        width: 100%;
        height: 100%;
        font-size: 100%;

        .input-form{
            width: 90%;
            height: 35px;
            font-size: 100%;
            color: #a29f9f;
            text-align: center;
            border-radius: 8px;
            border: 2px solid;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
        }
    }
}