.container-acessos {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #010D26;
    font-family: 'Quicksand', sans-serif;
}

.form {
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
    
}

.icon {
    margin-bottom: 16px; /* Diminuído de 20 para 16 */
    display: flex;
    justify-content: center;
    width: 100%;
}

.img {
    width: 60px; /* Diminuído de 80 para 60 */
    height: fit-content; /* Diminuído de 80 para 60 */
}

.title {
    color: #0B1D3A;
    font-size: 20px; /* Diminuído de 24 para 20 */
    font-weight: bold;
    margin-bottom: 16px; /* Diminuído de 20 para 16 */
}

.label {
    display: block;
    text-align: left;
    color: #0B1D3A;
    font-weight: 600;
    font-size: 16px; /* Diminuído de 14 para 12 */
    margin-bottom: 6px; /* Diminuído de 8 para 6 */
    margin-top: 12px; /* Diminuído de 16 para 12 */
}

.input {
    width: 100%;
    background-color: #FFFFFF;
    color: #000;
    padding: 10px 5px; /* Diminuído de 12px 14px para 10px 12px */
    border-radius: 6px;
    border: 1.5px solid #ccc;
    font-size: 17px; /* Diminuído de 14 para 12 */
    transition: border-color 0.3s;
}

.button {
    margin-top: 16px; /* Diminuído de 20 para 16 */
    width: 100%;
    padding: 12px; /* Diminuído de 14 para 12 */
    background-color: #010D26;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 14px; /* Diminuído de 16 para 14 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1a2b47;
    transition: ease-in-out 0.3s;
}

.footerText {
    margin-top: 12px; /* Diminuído de 16 para 12 */
    font-size: 15px; /* Diminuído de 13 para 11 */
    color: #777;
}

.link {
    color: #010D26;
    font-weight: 600;
    font-size: 14px; /* Diminuído de 14 para 12 */
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.linkSenha {
    color: #010D26;
    font-weight: 600;
    font-size: 12px; /* Diminuído de 14 para 12 */
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    display: block; /* Adicionado para ocupar a largura total */
    text-align: left; /* Alinha o texto à esquerda */
    margin-top: 8px; /* Adicionado para ajustar o espaçamento */
}

.button.voltar {
    margin-top: 10px;
    background-color: #081A40; /* Azul mais claro */
    color: #fff;
    border: 2px solid transparent; /* Borda inicial transparente */
    padding: 5px 15px; /* Botão menor */
    font-size: 14px; /* Texto menor */
    cursor: pointer;
    border-radius: 5px;
    width: auto; /* Define largura automática */
    min-width: 100px; /* Define uma largura mínima */
    transition: color 0.3s ease, border-color 0.3s ease; /* Transição suave */
}

.button.voltar:hover {
    background-color: #081A40;
    color: #c28e00; 
    border-color: #c28e00;
}